@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Quicksand:wght@300;400&family=Special+Elite&display=swap');
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/button.css");

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1 { 
	font-family: 'Special Elite', cursive;
	font-weight: bold;
}

h2, h3 {
	font-family: 'Amatic SC', cursive;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}


.list-inline > li {
	display: inline;
	padding: 0px 20px;
	margin: 0px auto;
}

.list-inline i {
	font-size:50px;
	color: rgb(153, 167, 153);
}
.list-inline i:hover {
	font-size:50px;
	color: rgb(180, 198, 166);
}

a {
	text-decoration: none;
}


